.forgetpassword-card{
    width:30%;
    margin-top: 15%;
    margin-left: 36%;
}

.forgetpassword-form-input{
    width: 100%;
}

.back-link{
    margin-left: 22%;
    margin-top: 10px;
    font-size: larger;
}

.forgetpassword-action{
    margin-left: 30%;
}

.cred-error{
    margin-left: 25%;
}

.forgetpassword-link{
    margin-left: 4%;
    margin-top: 10px;
    font-size: larger;

}