.register-card{
    width:35%;
    margin-top: 10%;
    margin-left: 28%;
}

.register-form-input{
    width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .back-link{
    margin-top: 10px;
    font-size: larger;
}
